<html>
	<head>
		<title>Welcome to my Project</title>
	</head>
	<body style="text-align: center;">
		<h1>Abnormalities in Spine Detection</h1>
		<form action="/predict" method="POST">
			<label for="f1">Feature1 </label>
			<input type="text" name="f1" /> <br/>

			<label for="f2">Feature2 </label>
			<input type="text" name="f2" /> <br/>

			<label for="f3">Feature3 </label>
			<input type="text" name="f3" /> <Br/>

			<label for="f4">Feature4 </label>
			<input type="text" name="f4" /> <Br/>

			<label for="f5">Feature5 </label>
			<input type="text" name="f5" /> <Br/>

			<label for="f6">Feature6 </label>
			<input type="text" name="f6" /><Br/>

			<label for="f7">Feature7 </label>
			<input type="text" name="f7" /> <Br/>

			<label for="f8">Feature8 </label>
			<input type="text" name="f8" /> <Br/>

			<label for="f9">Feature9 </label>
			<input type="text" name="f9" /> <Br/>

			<label for="f10">Feature10 </label>
			<input type="text" name="f10" /> <Br/>

			<label for="f11">Feature11 </label>
			<input type="text" name="f11" /> <Br/>
 
			<label for="f12">Feature12 </label>
			<input type="text" name="f12" /> <Br/>

			<input type="submit" value="Submit" />
		</form>
		<h1>{{ predicted_output }}</h1>
	</body>
</html>
